li{
    margin: 5px 0 0 0;
}
ul.nav{
    list-style: none;
    display: block;/*ubicate como un bloque*/
    width: 200px;
    position: relative;
    top: 50px;/*borde en la parte arriba*/
    left: 100px;
    padding: 60px 0 60px 0;/*arriba derecha abajo izquierda*/
}
ul.nav li a{
    transition: all 0.3s ease-out;
    background: #f77e08;
    color: #174867;
    padding: 7px 15px 7px 15px;
    border-radius: 10px;
    width: 100px;
    /*height: 50px:*/
    display: block;
    box-shadow: 5px 10px #888888;/*sombras*/
}
ul.nav li a:hover{
    background: #ffef77;
    color: #76a5cd;
    padding: 7px 15px 7px 30px;
}